<html>
    <head>
    <style>
        h3{text-align: center;}
        p{text-align: center;}
        div{text-align: center;}
        input{text-align: center;}
    </style>
        <h3 style="border: 5px;" >
            Prediction of is product is purchased by customer or not
        </h3>
    <body style="background-color:rgb(186, 202, 209);">
        <h3> WELCOME</h3>
        <form style="text-align:center" action="/rent" method="post">
            <h3>gender('Male':1, 'Female':0):</h3>
            <input type="text" name="g"><br>
            <h3>age:</h3>
            <input type="text" name="age"><br>
            <h3>salary:</h3>
            <input type="text" name="sal"><br>
            

            <h3><input type="submit"></h3>
    </form>
    <h2 style="text-align:center;""color: blue;" > 
        From above information prediction of purchased =
        {{prediction}}
    </h2>
    </body>
    </head>
</html>